html{
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn{
  @apply bg-primary py-[.8rem] px-[3rem] text-white rounded-3xl hover:opacity-70 transition-all;
}

.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots .slick-active div {
  @apply bg-primary ;
}

.slick-dots div {
  @apply !m-0 !mt-[10rem];
}

@tailwind base;
@tailwind components;
@tailwind utilities;